---
import LanguageSelector from "./LanguageSelector.astro";
import PrintButton from "./PrintButton.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<div class="flex gap-2 items-center self-end no-print">
  <ThemeToggle />
  <PrintButton />
  <LanguageSelector />
</div>
